/* BASE ELEMENT STYLES */

* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: aliceblue;
    max-width: 100%;
    color: darkgray;
    text-align: center;
}

img {
    margin: 0 auto;
    max-width: 100%;
    padding-top: 15px;
}

a {
    text-decoration: none;
}

/* BASE LAYOUT STYLES */

.main-header {
    background-color: aquamarine;
}
.name {
    margin: 0 auto;
    background-color: aquamarine;
}

.main-nav {
    margin: 0 auto;
    text-transform: uppercase;
    background-color: aquamarine;
}
.main-nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.main-nav a {
    color: white;
    background-color: lightslategray;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 20px;
}

.main-nav a:hover {
    background-color: #4CAF50;
}

.main-nav,
.main-nav ul a {
    display: block;
    text-align: center;
}

/* PROFILE SECTION  */

.header img {
    margin-top: 25px;
    width: 75%;
}

.header p {
    margin-bottom: 50px;
}

/* PORTFOLIO SECITION  */

.portfolio {
        padding-top: 40px;
}

.portfolio p {
    padding: 0 10px;
}

.main {
    padding: 25px 0;
}
.main img {
    padding-top: 50px;
}

.col {
    padding-right: .5em;
    padding-left: .5em;
}


/* SKILL BARS */

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */

.skill-list {
    width: 75%;
    margin: 0 auto;
}
.container {
  width: 100%; /* Full width */
  background-color: #ddd; /* Grey background */
}

.skills h1 {
    text-align: center;
    color: gray;
    padding-top: 50px;
}

.skills {

  text-align: right; /* Right-align text */
  padding-top: 10px; /* Add top padding */
  padding-bottom: 10px; /* Add bottom padding */
  color: black; /* White text color */
}

.html {width: 90%; background-color: #4CAF50;} /* Green */
.css {width: 80%; background-color: #2196F3;} /* Blue */
.js {width: 65%; background-color: #f44336;} /* Red */
.php {width: 60%; background-color: #808080;} /* Dark Grey */

.contact {
    border-top: 2px solid lightblue;
    margin-top: 50px;
    padding: 50px 0;
    text-align: center;
}
.contact p {
    padding: 10px 0;
}
.contact a {
    color: gray;
}

.footer-nav {
    padding: 25px 25px 12px;
    display: flex;
    justify-content: space-between;
}

.footer-nav-mobile {
    text-transform: uppercase;
    padding-right: 40px;
}
.footer-nav-mobile a {
    color: gray;
}
.footer-nav-wide {
    display: none;
}

/* MEDIA QUERIES */

@media screen and (min-width: 768px) {
    .main-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .main-nav a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
    }
    
    .main-header {
        align-content: space-between;
    }

    .header {
        margin: 50px 15px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .header img {
        padding-left: 20px;
        margin-top: 0;
        margin-bottom: 50px;
        width: 100%;
    }

    .header p {
        text-align: left;
        font-size: 1.2em;
    }

    .main {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .col {
        width: 48%;
    }

    .footer-nav-mobile {
        display: none;
    }
    .footer-nav-wide {
        display: block;
    }
    .footer-nav-wide {
        text-transform: uppercase;
        padding-right: 40px;
    }
    .footer-nav-wide a {
        color: gray;
    }
    

}

@media screen and (min-width: 1024px) {

    .main-nav ul {
        list-style: none;
        display: flex;
        flex-direction: row;
    }
    .main-header {
        display: flex;
        justify-content: space-between;
        padding-bottom: 50px;
    }

    .name {
        margin: 0 80px;
    }
    
    .main-nav {
        margin: 0 80px;
        text-transform: uppercase;
    }

    .main-nav a {
        display: inline-block;
        margin: 10px;
        padding: 10px 20px;
    }

    .header {
        margin: 50px 15px 0;
        display: flex;
        flex-direction: row-reverse;
    }
    .header img {
        padding-left: 20px;
        /* padding-right: 70px; */
        margin-top: 0;
        margin-bottom: 50px;
        margin-right: 70px;
        max-width: 40%;
    }

    .header p {
        text-align: left;
        font-size: 1.9rem;
        width: 40%;
        padding-left: 70px; 
    }

    .main {
        padding: 10px 0;
        display: flex;
        flex-wrap: wrap;
    }

    .col {
        width: 30%;
    }

}
